

:root{
    --color1: #283747;
    --color2: #1446A0;
    --color3: #58D68D;
    --color4: #F8C7CC;
    --color5: #FCF7FF;
}





.mockchat,
.mockchat *,
.mockchat *:after,
.mockchat *:before {
  box-sizing: border-box;
}

.mockchat {
  position: relative;
  color:var(--color1);
  max-width: 400px;
  margin: 0 auto;
  height:auto;
  max-height:400px;
  line-height: 1.25;
  perspective: 900px;

  }

  
.mockchat .device {
    width: 100%;
    overflow-x:visible;
    margin: 0 auto;
    padding-top: 200%;
    position: relative;
    transition: all .5s;
  
}

.mockchat .device .screen {
    position: absolute;
    width: calc(100% + 0px);
    height:calc(450px - 0px);
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    box-shadow: inset 0 0 40px rgba(white, .7),
                0 0 0 5px rgba(white, .15);
    overflow: hidden;
  }
  @media (max-width: 370px){
    .mockchat .device .screen {     
        top: 40%;
      }   
 }
 
  .app {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5em;
    overflow-y: scroll;
    transition: all 0.3s;
  }
  .app::-webkit-scrollbar {
    display: none !important;
  }
  .app {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  @media (min-width:1200px){
    .app {
        padding:3.5rem;
      } 
  }
  .reply {
    transform-origin: 100% 50%;
    margin: 2.25em 0 2.25em 1.5em !important;
    width: auto;
    background: #F2F2F2;
    border-radius: 1.5em;
    position: relative;
    padding: 0.75em 1em;
    box-shadow: 0 1px 10px rgba(black, 0.08);
    opacity: 0;
    transform: translateY(2em)scale(0.5);
    animation: mockchat-reply-pop cubic-bezier(0, 0.81, 0.58, 1.2) 0.4s;
    animation-fill-mode: forwards;
    text-align: right;
    transition: all 0.3s;
    max-height: 0;
  }
  .reply:nth-child(2n - 1) {
    transform-origin: 0 50%;
    margin: 0.25em 1.5em 0.25em 1.5em !important;
    width: calc(100% - 3em);
    background: #F2F2F2;
    text-align: left;
   
  }
  .reply:after {
    display: block;
    content: "";
    background-color:#A4C519;
    background-image: url(../images/ways-to-bank/chat-img.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    position: absolute;
    z-index:9999999999;
    height: 3.9em;
    width: 3.9em;
    right: -4.5em;
    top: 0.0075em;
    border-radius: 99999px;
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;

  }
  .reply:nth-child(2n - 1):after {
    display: block;
    content: "";
    background-color:#EE7E01;
    background-image: url(../images/ways-to-bank/chat-img.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:100%;
    position: absolute;
    z-index:9999999999;
    height: 3.9em;
    width: 3.9em;
    left: -4.5em;
    top: 0.0075em;
    border-radius: 99999px;
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1;
    font-weight: bold;

  }

@media (max-width:992px){
    .reply:nth-child(2n - 1):after{
        background-color:#fff;
    }  
}
  .reply.dots {
    transform-origin: 50% 50%;
    margin: 0.25em 35% 0.25em 35% !important;
    max-width: 30%;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
   
  }
.reply.dots 
span {
  display: block;
  height: 4px;
  width: 4px;
  background: currentColor;
  display: inline-block;
  border-radius: 99999px;
  margin: 0.25em 0.15em;
  opacity: 0;
  animation: mockchat-dots 0.5s infinite alternate;
  transform: translateY(0.25em);
}

.reply.dots 
span:nth-child(2) {
    animation-delay: 0.1s;
}

.reply.dots 
span:nth-child(3) {
    animation-delay: 0.2s;
}
.reply.dots:after {
    display: none;
}

@keyframes mockchat-dots {
  to {
    transform: translateY(-0.2em);
    opacity: 1;
  }
}

@keyframes mockchat-blink {
  to {
    opacity: 1;
  }
}

@keyframes mockchat-reply-pop {
  to {
    transform: none;
    font-size: 1rem;
    opacity: 1;
    max-height: 200px;
  }
}
