.inner-container {
	width: 100%;
}

	.inner-container:before,
	.inner-container:after {
		content: " ";
		display: table;
	}

	.inner-container:after {
		clear: both;
	}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.full-width {
	width: 100%;
}

.spacing {
	padding: 15px 0;
}

.slideshow {
	overflow: hidden;
	position: relative;
	z-index: 3;
}

	.slideshow.screen-height {
		width: 100%;
		height: 80vh;
	}

	.slideshow .slideshow-inner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.slideshow .slides {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

.access-slide {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	transition: opacity 0.3s ease;
	will-change: transform, opacity, width, right, left;
}

	.access-slide.is-active {
		display: block;
	}

	.access-slide.is-loaded {
		filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
		opacity: 1;
	}
	/* cha */
	.access-slide .image-container {
		top: 0;
		left: 0;
		width: 100%;
		/* height: 100%; */
		background-position: center;
		z-index: 1;
		background-size: cover;
		image-rendering: optimizeQuality;
		will-change: left, right;
	}
		/*.access-slide .image-container:before {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 content: "";
 background: rgba(54, 47, 22, 0.5);
}*/
		.access-slide .image-container.has-overlay:after {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			transform: scale(-1);
			background-image: linear-gradient( to left, #0e0e0e 0%, rgba(14, 14, 14, 0.738) 19%, rgba(14, 14, 14, 0.541) 34%, rgba(14, 14, 14, 0.382) 47%, rgba(14, 14, 14, 0.278) 56.5%, rgba(14, 14, 14, 0.194) 65%, rgba(14, 14, 14, 0.126) 73%, rgba(14, 14, 14, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(14, 14, 14, 0.021) 91%, rgba(14, 14, 14, 0.008) 95.2%, rgba(14, 14, 14, 0.002) 98.2%, rgba(14, 14, 14, 0) 100% );
		}
	/* start */
	.access-slide .image {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: 100%;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		transition: 0.3s filter linear;
	}
		/* end */
		.access-slide .image.is-blur {
			filter: url(#blur);
			filter: blur(5px);
			filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius="5");
		}

		.access-slide .image.is-loading {
			display: block;
			width: 100%;
			height: 100%;
			z-index: -10;
		}

.slide__slide-content {
	position: absolute;
	left: 10%;
	width: 55%;
	height: 100%;
	z-index: 999999;
	justify-content: center;
	align-items: center;
}
		@media screen and (min-width: 992px) {
	.slide__slide-content{
	top: 21% ;
	}
}
.cities__slide .no-caption {
	display: none;
}

.cities__slide .has-caption {
	display: block;
}

@media screen and (min-width: 992px) {
	.slides,
	.slideshow-inner,
	.slideshow,
	.access-slide .image-container {
		padding-bottom: 46.25% !important;
		position: relative;
		height: 0 !important;
	}

	.access-slide .image-container {
		height: 100% !important;
	}
}

@media screen and (max-width: 991px) {
	.access-slide .image-container.has-overlay:after {
		display: none !important;
		visibility: hidden !important;
	}

	.access-slide .image-container {
		height: 56.25%;
		margin-top: 2rem;
	}

	.slide__slide-content br {
		display: none;
	}

	.access-slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100% !important;
		z-index: 1;
		opacity: 0;
		transition: opacity 0.3s ease;
		will-change: transform, opacity, width, right, left;
	}

	.slide__slide-content {
		position: absolute;
		top: 370px;
		left: 0;
		width: 100%;
		height: 100% !important;
		z-index: 999999;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: #fff;
		padding-top: 30px;
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

		.slide__slide-content > * {
			color: black !important;
		}

		.slide__slide-content .white-text {
			color: black !important;
		}

	.slide__slide-content,
	.main-text,
	.personal-text,
	.private-text {
		color: black !important;
	}

	.slideshow.screen-height {
		width: 100%;
		height: 750px;
	}

	.pages {
		position: absolute;
		top: 315px;
		left: 5%;
		width: 50%;
		cursor: default;
		z-index: 2;
	}

	.image {
		background-position: center center;
		background-size: cover;
	}

	.slide__slide-content .main-button {
		background: white !important;
	}

	.slide__slide-content .banner-heading {
		font-weight: bold;
		font-size: 30px;
		line-height: 0.95;
		color: #000 !important;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		gap: 0rem;
		margin-bottom: 0;
	}

	.slide__slide-content > .banner-head {
		overflow: hidden;
		line-height: 20px;
		color: #000 !important;
	}

	.banner-head {
		color: #000 !important;
	}

	.slide__slide-content {
		color: #000 !important;
	}

		.slide__slide-content .banner-text {
			overflow: hidden;
			line-height: 25px;
			font-size: 1rem;
			max-width: 350px;
			margin: 0 auto;
		}

		.slide__slide-content .banner-button {
			overflow: hidden;
			line-height: 48px;
			margin: 1rem 0;
			margin-top: 0;
		}

			.slide__slide-content .banner-button a {
				color: #000 !important;
				border-color: #000 !important;
			}
}

@media screen and (min-width: 570px) and (max-width: 991px) {
	.slide__slide-content {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}

@media (max-width: 985px) {
	.banner-slant-line-new {
		top: -7% !important;
	}
}
@media screen and (max-width: 560px) {
	.access-slide .image-container {
		height: 350px !important;
		margin-top: 3rem;
	}


}
.counter {
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: white;
}

.counter__nbr {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 13px;
	font-size: 13px;
	font-weight: 400;
	line-height: 3.2307692308;
	color: white;
}

	.counter__nbr.counter__nbr--yellow {
		color: #fed208;
	}

.view-events,
.skip-intro {
	z-index: 2;
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 19px;
	line-height: 1.3846153846;
	text-transform: uppercase;
	backface-visibility: hidden;
	opacity: 1;
	visibility: visible;
	letter-spacing: 0.2rem;
	will-change: opacity, visibility;
}

	.view-events.is-hidden,
	.skip-intro.is-hidden {
		opacity: 0;
		visibility: hidden;
	}

	.view-events span,
	.skip-intro span {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 0 10px;
	}

		.view-events span:before,
		.skip-intro span:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(239, 239, 239, 0.2);
			right: 0;
			transform: translateX(-101%);
			top: 0;
			transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
			will-change: transform;
		}

.view-events__line,
.skip-intro__line {
	position: absolute;
	left: 50%;
	content: "";
	top: calc(100% + 10px);
	width: 1px;
	height: 30px;
	will-change: transform;
	overflow: hidden;
}

	.view-events__line i,
	.skip-intro__line i {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateY(-101%);
		background-color: #fed208;
	}

.view-events:hover span:before,
.skip-intro:hover span:before {
	transform: translateX(0);
}

.arrows .arrow {
	margin: -33px 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 3;
	width: 55px;
	height: 55px;
	border: 1px solid #fed208;
	border-radius: 50%;
}

	.arrows .arrow:before {
		position: absolute;
		top: -7px;
		left: -7px;
		width: 67px;
		height: 67px;
		border: 1px dashed white;
		opacity: 0.3;
		content: "";
		border-radius: 50%;
	}

.arrows .arrow__line {
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-miterlimit: 10;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	position: absolute;
	will-change: transform, opacity, visibility;
}

.arrows .arrow .svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
	height: 13px;
	fill: white;
}

	.arrows .arrow .svg:before {
		position: absolute;
		height: 1px;
	}

	.arrows .arrow .svg svg {
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: top;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		overflow: visible;
		will-change: transform;
	}

		.arrows .arrow .svg svg .arrow__line {
			opacity: 0;
			visibility: hidden;
		}

.arrows .prev {
	left: 30px;
}

	.arrows .prev svg {
		transform: translateX(2px);
	}

		.arrows .prev svg .arrow__line {
			transform: translateX(-50px);
		}

	.arrows .prev:hover .svg svg {
		transform: translateX(-2px);
	}

		.arrows .prev:hover .svg svg .arrow__line {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}

.arrows .next {
	right: 30px;
}

	.arrows .next svg {
		transform: translateX(-2px);
	}

		.arrows .next svg .arrow__line {
			transform: translateX(50px);
		}

	.arrows .next:hover .svg svg {
		transform: translateX(2px);
	}

		.arrows .next:hover .svg svg .arrow__line {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.pages {
	position: absolute;
	bottom: 60px;
	left: 10%;
	width: 50%;
	cursor: default;
	z-index: 2;
	/*text-align: center;*/
}

	.pages ul {
		padding: 0;
		margin: 0;
	}

	.pages .page {
		display: inline-block;
		position: relative;
		cursor: pointer;
		padding: 0 5px;
	}

	.pages .page__link {
		position: relative;
		display: block;
		color: white;
		font-size: 12px;
		line-height: 1.5;
		padding: 2px 15px;
		overflow: hidden;
		transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
		will-change: color;
		transform: translateZ(0);
		text-decoration: none;
	}

		.pages .page__link i {
			position: absolute;
			width: 100%;
			height: 18px;
			background-color: rgba(239, 239, 239, 0.2);
			right: 0;
			transform: translateX(-100%);
			top: 0px;
			will-change: transform;
		}

	.pages .page + .page {
		margin-left: -2px;
	}

li.page.is-active a.page__link i.is-animating {
	background-color: #ee7e01;
}

li.page a.page__link {
	background-color: #ffffff;
	width: 100%;
}
